{% extends 'template.html.twig' %}

{% block css %}
<style>
	body {
		padding-bottom: 120px; /* Hauteur du footer */
	}
	table {
		table-layout: auto !important;
		width: 100%;
		white-space: nowrap;
	}
</style>
{% endblock %}

{% block body %}
<div class="container-fluid px-1 py-4">
	<img class="mb-4 d-block mx-auto" style="height:50px;" src="assets/images/parcoursup.png" alt="Importer" class="img-fluid">

	<!-- Barre de recherche + logo + filtre année -->
	<div class="d-flex justify-content-between align-items-center mb-4">
		<div class="input-group" style="max-width: 300px;">
			<input type="text" class="form-control" placeholder="Numéro du candidat" aria-label="Rechercher">
			<button class="btn btn-outline-secondary" type="button">
				<i class="fas fa-search"></i>
			</button>
		</div>
		{% set annee_actuelle = "now"|date("Y") %}
		<select select class="form-select" style="width: auto;" name="annee" required>
			<option value="">Choisissez une année</option>
			{% for i in 0..20 %}
				{% set debut = annee_actuelle + i %}
				{% set fin = debut + 1 %}
				<option value="{{ debut }}/{{ fin }}">{{ debut }}/{{ fin }}</option>
			{% endfor %}
		</select>
	</div>

	<!-- Tableau des candidats -->
	<div class="table-responsive">
		<table class="table table-hover table-bordered align-middle">
			<thead class="table-dark text-center">
				<tr>
					{% for field in fields %}
						<th>{{ field }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for candidat in candidats %}
					<tr>
						{% for field in fields %}
							<td>{{ attribute(candidat, field) }}</td>
						{% endfor %}
					</tr>
				{% else %}
					<tr>
						<td colspan="{{ fields|length }}" class="text-center">Aucun candidat trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<!-- Boutons -->
	<div class="d-flex justify-content-center mt-4">
		<button class="btn btn-primary mx-2">Calculer les résultats</button>
		<button class="btn btn-primary mx-2">Exporter les résultats</button>
	</div>
</div>

<!-- Footer -->
<footer class="text-center mt-5 text-white bg-dark py-3">
	<div>
		<img src="assets/images/logo-univ.png" style="height: 30px;" alt="Logo Univ">
		<span class="ms-2">BUT Informatique - Le Havre © 2025</span>
	</div>
</footer>
{% endblock %}
